@page
@model LoginModel

@{
    ViewData["Title"] = "MFA Success!";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <h2>You have succesfully authenticated! Good times!</h2>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
